.wrapper {
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 60vh;
  /* background-color: #8bc34a; */
  border-radius: 15px;
  /* border: 1px solid #000; */
}

.cards {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #8bc34a;
  border-radius: 15px;
  border: 1px solid #000;
  margin: 10px;
}
