.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.user_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  margin-top: 30px;
}

.profile_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: orange; */
  margin-top: 30px;
}

.heading {
  margin-top: 30px;
  margin-bottom: 10px;
}

.edit_button {
  margin-top: 20px !important;
}
