.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.userData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  margin-top: 30px;
}

.profileData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: orange; */
  margin-top: 30px;
}

.heading {
  margin-top: 30px;
  margin-bottom: 10px;
}

.editButton {
  margin-top: 20px !important;
}
