.signup_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  margin-top: 20vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  height: 50vh;
  /* background-color: #8bc34a; */
  border-radius: 15px;
  /* border: 1px solid #000; */
}

.form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.signup_input {
  width: 100% !important;
  padding: 12px 20px !important;
  margin: 8px 0 !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
}

.signup_button {
  width: 100% !important;
  background-size: 200% 200% !important;
  color: white !important;
  padding: 14px 20px !important;
  margin: 8px 0 !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  background: linear-gradient(to right, #6b4caf, #6c4ac3) !important;
}

.account_exists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_link {
  text-decoration: underline;
}
